.section-5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 160px;
    background-image: url('../images/linii.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.sec5color{
    background-color: #D6E0E2;
    text-align: center;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    padding: 20px 50px;
    padding-bottom: 50px;
}
.sec5color h1{
    color: #FFFCFC;
    font-family: Kodchasan;
    text-align: center;
    font-size: 60px;
}
.sec5color button{
    background-color: #162A2B;
    color: #B81F1F;
    font-family: Kodchasan;
    border-radius: 30px;
    padding:10px 20px;
    border: none;
    font-size: 35px;
}
.section-6{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #162A2B;
}
.sec6up{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 30px 20px 30px;
}
.gmaps{
    height: 225px;
    width: 448px;
}
.details{
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 10px;
    row-gap: 0px;
    align-items: center;
}
.sec6upright h1{
    font-family: Kodchasan;
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.sec6upright h1 span{
    color: #B81F1F;
}
.details p{
    font-size: 35px;
    color: white;
    font-family: Karla;
    margin: 0;
}
.details img{
    transform: scale(0.4);
}   
.mailimg{
    margin-left: -10px;
}
.phonenum{
    text-decoration: underline;
    cursor: pointer;
}
@media (max-width: 600px){
    .sec6up{
        flex-direction: column;
        justify-content: center;
    }
    .gmaps{
        height: 185px;
        width: 300px;
    }
    .sec6upright h1{
        font-size: 25px;
    }
    .details p{
        font-size: 20px;
    }
    .section-5{
        padding-top: 50px;
    }
    .sec5color{
        padding-bottom: 10px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
    }
    .sec5color h1{
        font-size: 25px;
    }
    .sec5color button{
        font-size: 16px;
    }
}