.header{
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 5;

}
.hleft, .hright{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}
.hmid img{
    width: 364px;
    height: 68px;
}
.header a{
    font-family: "Kumbh Sans";
    font-size: 30px;
    cursor: pointer;
    transition: all ease-out 0.3s;
    text-decoration: none;
}
.header a:hover{
    color: #951113;
    text-decoration: underline;
}
.hmobicon, .hmobburger, .hmobextended{
    display: none;
}
@media (max-width: 1450px){
    .header a{
        font-size: 25px;
    }
    .hmid img{
        height: 60px;
        width: 300px;
    }
}
@media screen and (max-width: 1170px){
    .header a{
        font-size: 20px;
    }
    .hmid img{
        height: 51px;
        width: 273px;
    }
}
@media screen and (max-width: 924px) {
    .header a{
        font-size: 15px;
    }
    .hmid img{
        width: 219px;
        height: 41px;
    }
    .hleft, .hmid, .hright{
        display: none;
    }
    .hmobicon{
        display: inline-block;
        
    }
    .hmobicon img{
        height: 37px;
        width: 66.2px;
    }
    .hmobburger{
        display: inline-block;
        
    }
    .hmobburger img{
        height: 14px;
        width: 41px;
    }
    .header{
        padding: 10px 20px;
    }
    .hmobextended{
        z-index: 10;
        display: none;
        flex-direction: column;
        width: 100vw;
        position: absolute;
        right: 0;
        top: 60px;
        padding: 50px 0;
        align-items: center;
        background-color: rgba(22, 42, 43, 0.8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .hmobextended a{
        margin-top: 20px;
        font-size: 25px;
        color: white;
    }
    .hmobextended img{
        height: 33px;
        width: 37px;
        pointer-events: all;
    }
}