 body{
    background-color: #FDFCF7;
    margin: 0;
}
.section-1{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    margin-bottom: 190px;
    justify-content: space-evenly;
    align-items: center;
}
.sec1text{
    display: flex;
    flex-direction: column;
}
.sec1text h1, .sec2txt h1, .sec3txt h1, .section-4 h1{
    font-family: Kodchasan;
    font-size: 70px;
    text-align: center;
    font-weight: normal;
    text-wrap: nowrap;   
    margin-bottom: 0;
}
.sec1text p, .sec2txt p, .sec3txt p{
    font-family: Khand;
    font-size: 20px;
    text-wrap: wrap;
    text-align: center;
    margin-top: 2px;
}
.sec1img img{
    width: 100%;
    height: auto;
}
.bg-front{
    position: absolute;
    top: 30px;
    z-index: -1;
    left: -100px;
    width: 30vw;
}
.section-2{
    background-color: #162A2B;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sec2txt h1{
    color: white;
}
.sec2txt p{
    color: white;
    font-size: 30px;
}
.section-3{
    margin-bottom: 170px;
}
.section3text{
    font-size: 30px;
    font-family: Khmer;
}
.blusqr{
    background-color: #D6E0E2;
    border-radius: 20px;
    width: 40vw;
    margin-left: -30vw;
    height: 910px;
    position: relative;
}
.decor{
    position: absolute;
    top: -30px;
    left: 160px;
    width: 30vw;
}
.echipa{
    position: absolute;
    right: -30%;
    top: 180px;
}

.leftbtn, .rightbtn{
    display: none;
}
.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box p{
    font-family: Karla;
    font-size: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.boxbtn, .sec4btn{
    background-color: #162A2B;
    color: #D6E0E2;
    font-size: 31px;
    font-family: Kodchasan;
    border-radius: 50px;
    border: none;
    padding: 7px 30px 13px 30px;
    margin-top:15px;
}/*Să modific de pe butoane pe div*/
.sec4left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.sec4left h1{
    color: white;
}
.sec4left p{
    color: #FDFCF7;
    font-family: Karla;
    font-size: 30px;
    word-spacing: 0.4em;
    text-wrap: wrap;
    width: 25vw;
}
.s1{
    color: #B81F1F;
}
.s2{
    font-weight: 500;
    font-style: italic;
}
.sec4btn{
    background-color: #B81F1F;
}
.section-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    background-image: url('../images/Group 44.png');
    height: 95vh;
    margin-top: 85px;
    background-repeat: no-repeat;
    background-size: cover;
}
.overflow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}
.midgrid{
    display: flex;
}
.sec4right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;   
}
.box2{
    display: flex;
    flex-direction: column;
    height: 622px;
    background-image: url(../images/image\ 29.png);
    width: 622px;
    position: relative;
    border-radius: 35px;
}
.innerbox{
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    padding: 15px 40px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.inner-left{
    display: flex;
    flex-direction: column;
}
.inner-right img{
    height: 116px;
    width: 116px;
}
.box2 p{
    font-size: 34px;
    font-family: Karla;
    margin-top: 0;
}
.inner-left img{
    height: 40px;
    width: 160px;
}
.box2 span{
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 700px){
    body{
        overflow-x: hidden;
        width: 100vw;
        padding-right: 0 ;
    }
    .section-1{
        padding-top: 50px;
        margin: 0;
        padding-bottom: 50px;
        background-image: url('../images/Group\ 64.png');
        background-repeat: no-repeat;    
        background-size: cover;
        background-position: -50px 0;
    }
    .sec1text h1{
        font-size: 25px;
    }
    .sec1text p{
        font-size: 12px;
    }
    .sec1img img{
        height: 150px;
    }
    .section-2{
        flex-direction: column-reverse;
    }
    .decor{
        display: none;
    }
    .sec2txt h1{
        font-size: 20px;
    }
    .sec2txt p{
        font-size: 15px;
    }
    .blusqr{
        background-color: transparent;
        margin-left: 0;
        justify-content: center;
        width: 100vw;
        align-items: center;
        position: static;
    }
    .echipa{
        height: 139px;
        width: 300px;
        position: static;
    }
    .sec2img{
        text-align: center;
    }
    .sec3txt h1{
        font-size: 30px;
    }
    .sec3txt p{
        font-size: 15px;
    }
    .box{
        transform: scale(0.6);
    }
    .slider{
        width: 90vw;
        overflow-x:hidden; 
        margin-top: -100px;
    }
    .overflow{
        width: 270vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: -14vw;
        transition: all ease-in-out 0.5s;
    }
    .midgrid{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 20px;
    }
    .leftbtn, .rightbtn{
        display: inline-block;
        height: 40px;
        width: 33px;
    }
    .dots{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: -80px;
    }
    .dot1, .dot2, .dot3{
        height: 9px;
        width: 9px;
        background-color: #162A2B;
        opacity: .3;
        margin: 0 8px;
        border-radius: 9px;
    }
    .dot1{
        opacity: 1;
    }
    .section-4{
        flex-direction: column;
        height: 400px;
        padding: 0;
        padding-bottom: 50px;
        margin-top: -120px;
    }
    .sec4left{
        margin-top: 0;
    }
    .sec4left h1{
        font-size: 30px;}
    .sec4left p{
        font-size: 15px;
        width: 90vw;
        text-align: center;
        word-spacing: normal;
    }
    .sec4left button{
        transform: scale(0.7);
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .box2{
        height: 184px;
        width: 184px;
        margin-top: 0px;
    }
    .box2 p{
        font-size: 10px;
    }
    .inner-left img{
        height: 12px;
        width: 48px;
    }
    .inner-right img{
        height: 34px;
        width: 34px;
    }
    .innerbox{
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
    }
    .blusqr{
        height: 450px;
    }
}