body{
    background-color: #FDFCF7;
    margin: 0;
}
.section-1{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    background-image: url(../images/Group\ 45.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec1top h1{
    font-family: "Kumbh Sans";
    font-size: 100px;
    font-weight: normal;    
}
.sec1top p{
    font-family: Karla;
    font-size: 30px;
}
.sec1top h2{
    font-family: Karla;
    font-size: 60px;
    color: #951113;
    font-weight: normal;
}
.sec1bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btmimg2{
    height: 289px;
}
.btmimg1, .btmimg3{
    height: 243px;
}
.section-2{
    background-color: #162A2B;
    height: 699px;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
}
.section-2 h1{
    font-family: Kodchasan;
    font-size: 70px;
    color: #F5EBE0;
}
.section-2 p{
    font-family: Karla;
    font-size: 30px;
    color: #F5EBE0;
}
.section-3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.section-3 p{
    font-family: Marcellus;
    font-size: 60px;
}
.sec3img{
    height: 487px;
}
.section-4{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.midgrid{
    margin-top: -100px;
}
.section-4 h1{
    font-family: Kodchasan;
    font-weight: 500;
    font-size: 70px;
    text-align: center;
}
.overflow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.leftbtn, .rightbtn{
    display: none;
}
.box{
    background-color: #162A2B;
    display: flex;
    flex-direction: column;
    padding: 70px 70px;
    border-radius: 110px;
}
.boxlower{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.box h1, .box p{
    font-family: Karla;
    text-align: center;
    color: #F5EBE0;
    font-size: 50px;
}
.box h1{
    margin-bottom: 0;
}
.box p{
    font-size: 30px;
}
.bl1{
    height: 75px;
}
.bl2{
    height: 59px;
}
.bl3{
    height: 55px;
}

.box1, .box3{
    transform: scale(0.9);
}
.section-5{
    padding-top: 0px !important;
}
@media (min-width: 1025px) and (max-width: 1450px){
    .sec1top h1{
        font-size: 75px;
    }
    .sec1top p{
        font-size: 22.5px;
    }
    .sec1top h2{
        font-size: 45px;
    }
    .btmimg2, .btmimg1, .btmimg3{
        transform: scale(0.75);
    }
    .section-2 h1{
        font-size: 48px;
    }
    .section-2 p{
        font-size: 22.5px;
    }
    .section-3 p{
        font-size: 45px;
    }
    .sec3img{
        transform: scale(0.75);
    }
    .box1, .box3{
        transform: scale(0.7);
    }
    .box2{
        transform: scale(0.75);
    }
    
}
@media (min-width: 700px) and (max-width: 1024px){
    .btmimg2{
        height: 200px;
    }
    .btmimg1, .btmimg3{
        height: 170px;
    }
    .section-3{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .section-3 p{
        font-size: 40px;
    }
    .section-3 p img{
        height: 40px;
    }
    .sec3img{
        height: 400px;
        width: 550px;
    }
    .sec4lower{
        flex-direction: column;
    }
    .box, .box{
        transform: scale(0.8);
        margin-top: -120px;
    }
    .section-6{
        margin-top: -200px;
    }
    
} 
@media (max-width: 699px){
    .section-1{
        background-image: url(../images/Page2mobileback.png);
        margin-top: 30px;
        padding-bottom: 100px;
    }
    .sec1top h1{
        font-size: 40px;
        margin-top: 0;
    }
    .sec1top h2{
        font-size: 20px;
    }
    .sec1top p{
        font-size: 15px;
    }
    .btmimg1, .btmimg3{
        display: none;
    }
    .btmimg2{
        height: 137px;
    }
    .section-2{
        height: 400px;
        margin-top: 0;
    }
    .section-2 h1{
        font-size: 20px;
    }  
    .section-2 p{
        font-size: 15px;
    }
    .section-3{
        background-image: url(../images/page2mobileback2.png);
        margin-top: 50px;
        flex-direction: column-reverse;
    }
    .section-3 p{
        font-size: 25px;
        text-align: center;
    }
    .section-3 p img{
        height: 25px;
    }
    .sec3img{
        height: 200px;
        width: 300px;
        align-self: center;
    }
    .section-4{
        margin-top: 30px;
        background-image: url(../images/page2mobileback3.png);
    }
    .section-4 h1{
        font-size: 30px;
        margin-bottom: 120px;
    }
    .sec4lower{
        flex-direction: column;
    }
    .box{
        transform: scale(0.5);
        margin-bottom: 0;
    }
    .box h1{
        margin-bottom: 10px;
    }
    .bl1, .bl2, .bl3{
        transform: scale(0.7);
    }
    .section-6{
        margin-top: -360px;
    }
    .slider{
        width: 90vw;
        overflow-x:hidden; 
        margin-top: -100px;
    }
    .overflow{
        width: 270vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: -28.25vw;
        transition: all ease-in-out 0.5s;
    }
    .midgrid{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 20px;
        margin-top: -180px;
    }
    .leftbtn, .rightbtn{
        display: inline-block;
        height: 40px;
        width: 33px;
    }

}
@media (min-width: 900px) and (max-width: 1024px){
    .sec4lower{
        width: 60vw;
        margin-left: 21vw;
    }
    
}