body{
    background-color: #FDFCF7;
    margin: 0;
}
.section-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../images/Group\ 51.png");
    height: 680px;
    margin-top: -15px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    z-index: 2;
}
.section-1 h1{
    font-family: 'Kumbh Sans';
    font-size: 100px;
    font-weight: normal;
    margin-bottom: 0;
    color: #FDFCF7;
}
.section-1 p{
    font-family: Karla;
    font-size: 30px;
    margin-top: 5px;
    color: #FDFCF7;
}
.searchbar{
    position: relative;
    width: 44vw;
    margin-left: 28vw; 
}
.searchbar input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    font-family: Kodchasan;
    font-size: 28px;
    background-color: #951113;
    color: rgba(0, 0, 0, 0.8);
}
.searchbar button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 28%;
    right: -20px;
    transform: scale(0.5);
    cursor: pointer;
}
.section-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(../images/Group\ 57.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec2up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}
.sec2up p{
    font-family: Kodchasan;
    font-weight: 500;
    font-size: 25px;
    border-bottom: 2px #951113 solid;
    color: #162A2B;
}
.section-2 h1{
    font-family: Kodchasan;
    font-weight: 500;
    font-size: 80px;
    color: #162A2B;
}
.sec2content{
    color: #162A2B;
    font-family: Karla;
    font-size: 25px;
    color: #162A2B;
    padding: 0 60px;
}
.section-3{
    height: 500px;
    background-color: #162A2B;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 166px;
    align-items: center;

}
.section-3 .box{
    background-color: #D6E0E2;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 30vw;
    border-radius: 30px;
    transition: all ease-out 0.2s;
}
.section-3 .box:hover{
    background-color: #951113;
    color: #FDFCF7;
}
.section-3 .box h1{
    font-family: Kodchasan;
    font-size: 40px;
    margin-bottom: 5px;
}
.section-3 .box p{
    font-family: Karla;
    font-size: 18px;
    text-wrap: wrap;
    line-height: 35px;
    padding: 0 20px;
}
.section-4{
    height: 300px;
    background-image: url(../images/Frame\ 48.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: -20px;
}
@media (min-width: 701px) and (max-width: 1450px){
    body{
        overflow-x: hidden;
    }
    .section-1 h1{
        font-size: 75px;
    }
    .section-1 p{
        font-size: 22.5px;
    }
    .searchbar{
        transform: scale(0.75);
    }
    .sec2up p{
        font-size: 17px;
    }
    .section-2 h1{
        font-size: 60px;
    }
    .sec2content{
        font-size: 17px;
    }
    .section-3{
        height: 375px;
    }
    .section-3 .box{
        transform: scale(0.75);
    }
}
@media (max-width: 700px){
    body{
        overflow-x: hidden;
    }
    .section-1{
        margin-top: -5px;
        height: 254px;
        justify-content: flex-start;
    }
    .section-1 h1{
        font-size: 30px;
    }
    .section-1 p{
        font-size: 14px;
        padding: 0 10px;
    }
    .searchbar{
        width: 90vw;
        align-self: center;
        margin-left: 0;
    }
    .searchbar input{
        height: 30px;
        padding: 0 10px;
        width: 80vw;
        font-size: 14px;
    }
    .searchbar img{
        height: 25px;
    }
    .searchbar button{
        right: 5px;
        top: 40%;
    }
    .sec2up{
        padding: 0 10px;
    }
    .sec2up p{
        font-size: 15px;
    }
    .section-2 h1{
        font-size: 20px;
        font-weight: 700;
    }
    .sec2content{
        font-size: 15px;
        padding: 0 20px;
    }
    .section-3{
        padding: 10px 10px;
        justify-content: space-evenly;
        height: 150px;
        background-image: url(../images/page3cback.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section-3 .box{
        max-width: 40vw;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .section-3 .box h1{
        font-size: 13px;
    }
    .section-3 .box p{
        font-size: 7px;
        line-height: normal;
    }
    .section-4{
        height: 100px;
    }
}