body{
    background-color: #FDFCF7;
    margin: 0;
}
.section-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../images/Group\ 51.png");
    height: 680px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    z-index: 2;
    margin-top: -15px;
}
.section-1 h1{
    font-family: 'Kumbh Sans';
    font-size: 100px;
    font-weight: normal;
    margin-bottom: 0;
    color: #FDFCF7;
}
.section-1 p{
    font-family: Karla;
    font-size: 30px;
    margin-top: 5px;
    color: #FDFCF7;
}
.searchbar{
    position: relative;
    width: 44vw;
    margin-left: 28vw; 
}
.searchbar input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    font-family: Kodchasan;
    font-size: 28px;
    background-color: #951113;
    color: rgba(0, 0, 0, 0.8);
}
.searchbar button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 28%;
    right: -20px;
    transform: scale(0.5);
    cursor: pointer;
}
.section-2{
    text-align: center;
    padding-bottom: 80px;
    background-image:url(../images//Group\ 55.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100%;
    padding-top: 50px;
    margin-top: -20px;

}
.section-2 h1{
    font-family: Kodchasan;
    font-size: 70px;
    font-weight: 500;
    color: #162A2B;
}
.section-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #162A2B;
    padding-top: 50px;
    padding-bottom: 0px;
    row-gap: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.container button{
    font-family: Kodchasan;
    font-size: 30px;
    font-weight: 500;

}
.box{
    display: flex;
    flex-direction: column;
    background-color: #D6E0E2;
    height: 429px;
    width: 536px;
    border-radius: 20px;    
    transition: all ease-in 0.2s;
}
.container button{
    background-color: #951113;
    color: #FDFCF7;
    border: none;
    border-radius: 40px;
    flex-grow: 0 !important;
    padding: 15px 30px;
    margin-top: 20px;
    transition: all ease-in 0.2s;
}
.container button:hover{
    background-color: #FDFCF7;
    color: #951113;
}
.box h2, .box h1{
    font-family: Kodchasan;
    font-weight: 600;
    font-size: 15px;
    color: #162A2B;
    margin-bottom: 5px;
}
.box hr{
    width: 100%;
    border: 3px #951113 solid;
}
.box h1{
    font-size: 25px;
    color: #162A2B;
    margin-top: 5px;
}
.box p{
    font-family: Karla;
    font-size: 20px;
    margin-top: 3px;
}
.fadein{
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 15%;
    font-family: Kodchasan;
    font-size: 60px;
    font-weight: 500;
    color: #FDFCF7;
    z-index: 2;
    transition: all ease-out 0.2s;
}
.fadebox{
    position: relative;
}
.fadebox:hover .box{
    filter: blur(3px) brightness(0.8);
}
.fadebox:hover .fadein{
    opacity: 1;
}
.textbox{
    padding: 0 30px;
}
.section-4{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/Group\ 56.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 1025px) and (max-width: 1450px){
    .section-1 h1{
        font-size: 75px;
    }
    .section-1 p{
        font-size: 22.5px;
        padding-left: 25vw;
        padding-right: 25vw;
    }
    .searchbar{
        transform: scale(0.75);
    }
    .section-2{
        padding-bottom: 60px;
    }
    .section-2 h1{
        font-size: 48px;
    }
    .container{
        transform: scale(0.8);
        margin-bottom: -50px;
    }
}
@media (min-width: 701px) and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    .container{
        transform: scale(0.8);
    }
    .section-3{
        margin-left: -3vw;
    }
    .section-4{
        padding: 50px 0;
    }
}
@media (max-width: 700px){
    body{
        overflow-x: hidden;
    }
    .section-1{
        margin-top: -5px;
        height: 254px;
        justify-content: flex-start;
    }
    .section-1 h1{
        font-size: 30px;
    }
    .section-1 p{
        font-size: 14px;
        padding: 0 10px;
    }
    .searchbar{
        width: 90vw;
        align-self: center;
        margin-left: 0;
    }
    .searchbar input{
        height: 30px;
        padding: 0 10px;
        width: 80vw;
        font-size: 14px;
    }
    .searchbar img{
        height: 25px;
    }
    .searchbar button{
        right: 5px;
        top: 40%;
    }
    .section-2{
        height: 40px;
        padding-top: 15px;
    }
    .section-2 h1{
        font-size: 20px;
        padding-top: 30px;
    }
    .section-3{
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        row-gap: 50px;
    }
    .box, .container button{
        transform: scale(0.6);
        margin-top: -70px;
    }
    .fadein{
        font-size: 20px;
        left: 55vw;
    }
    .section-4{
        padding: 50px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .box{
        margin-top: -120px;
    }
    .box3, .box4{
        display: none;
    }
   
}