body{
    margin: 0;
    background-color: #FDFCF7;
}
.section-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(../images/Group\ 61.png);
    margin-top: -15px;
    height: 680px;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-1 h1{
    font-family: 'Kumbh Sans';
    font-size: 100px;
    font-weight: normal;
    margin-top: 200px;
    color: #FDFCF7;
}
.section-1 p{
    font-family: Karla;
    font-size: 60px;
    color: #951113;
    margin-top: 0;
}
.main-section{
    background-image: url(../images/Group\ 60.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;

}
.sec2up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}
.sec2up p{
    font-family: Kodchasan;
    font-weight: 500;
    font-size: 25px;
    border-bottom: 2px #951113 solid;
    color: #162A2B;
}
.section-2 h1{
    font-family: Kodchasan;
    font-weight: 500;
    font-size: 80px;
    color: #162A2B;
}
.sec2content{
    color: #162A2B;
    font-family: Karla;
    font-size: 25px;
    color: #162A2B;
    padding: 0 60px;
}
.section-3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 150px;
    padding-bottom: 100px;
}
.box{
    width: 35vw;
    background-color: #162A2B;
    text-align: center;
    padding-top: 25px;
    border-radius: 20px;
    transition: all ease-out 0.2s;
}
.box:hover{
    background-color: #951113;
}
.box h1{
    font-family: Kodchasan;
    font-weight: 500;
    font-size: 50px;
    color: #F5EBE0;
}
.box p{
    font-family: Karla;
    font-size: 28px;
    color: #F5EBE0;
    line-height: 50px;
    padding: 10px 20px;
}
@media (min-width: 701px) and (max-width: 1450px){
    .section-1 p{
        font-size: 45px;
    }
    .section-1 h1{
        font-size: 75px;
    }
    .sec2up p{
        font-size: 17px;
    }
    .section-2 h1{
        font-size: 60px;
    }
    .sec2content{
        font-size: 17px;
    }
    .box{
        transform: scale(0.75);
    }
}
@media (max-width: 700px){
    body{
        overflow-x: hidden;
    }
    .section-1{
        height: 210px;
        margin-top: -5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-1 h1{
        font-size: 30px;
        margin-top: 0;
    }
    .section-1 p{
        font-size: 20px;
    }
    .section-2{
        margin-top: -20px;
    }
    .sec2up{
        padding: 0 10px;
    }
    .sec2up p{
        font-size: 15px;
    }
    .section-2 h1{
        font-size: 20px;
        font-weight: bold;
    }
    .sec2content{
        padding: 0 50px;
        font-size: 15px;
    }
    .section-3{
        padding-bottom: 100px;
        margin-top: 50px;
    }
    .box{
        width: 45vw;
        text-align: center;
        padding-top: 10px;
    }
    .box h1{
        font-size: 18px;
        margin: 0;
    }
    .box p{
        font-size: 10px;
        line-height: normal;
        padding: 10px 6px;
        margin-top: 0;
    }
}